name: React Deployment Yaml
on: push
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v3
      - name: Install NodeJS
        uses: actions/setup-node@v3
        with: 
          node-version: 18 
      - name: Install Dependencies
        run: npm install eslint eslint-plugin-react eslint-plugin-react-hooks eslint-plugin-jsx-a11y --save-dev
      - name: linting the project
        run: npm run lint
      - name: Test the code
        run: npm test
  build:
    needs: deploy
    runs-on: ubuntu-latest  
    steps:
      - name: Get Code
        uses: actions/checkout@v3
      - name: Install NodeJS
        uses: actions/setup-node@v3
        with: 
          node-version: 18 
      - name: Install Dependencies
        run: npm ci
      - name: build the code
        run: npm run build
      - name: deploy
        run: echo "Deploying the Code"